<header>
    <img class="logo" src="assets/AISOC_Logo.png">
    <button (click)="quit()" class="quit-button">Quit</button>
</header>

<!-- Carousel -->
<div class="carousel" #carousel>
    <!-- Categories -->
     <div class="category" #slider>
        <!-- Image Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Images.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">IMAGES</div>
                <div class="difficulty-container">
                    <span>Difficulty:</span>
                    <div class="difficulty-bar" #difficultyBar>
                      <div class="fill-hard"></div>
                    </div>
                    <span>Hard</span>
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button (click)="startImageQuiz()"
                            (touchstart)="button_pressed($event)"
                            (touchend)="button_released($event)">Start</button>
                </div>
            </div>
         </div>

        <!-- Video Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Videos.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">VIDEOS</div>
                <div class="difficulty-container">
                    <span>Difficulty:</span>
                    <div class="difficulty-bar" #difficultyBar>
                      <div class="fill-easy"></div>
                    </div>
                    <span>Easy</span>
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button (click)="startVideoQuiz()"
                            (touchstart)="button_pressed($event)"
                            (touchend)="button_released($event)">Start</button>
                </div>
            </div>
         </div>

        <!-- Music Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Music.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">MUSIC</div>
                <div class="difficulty-container">
                    <span>Difficulty:</span>
                    <div class="difficulty-bar" #difficultyBar>
                      <div class="fill-med"></div>
                    </div>
                    <span>Medium</span>
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button (click)="startSongQuiz()"
                            (touchstart)="button_pressed($event)"
                            (touchend)="button_released($event)">Start</button>
                </div>
            </div>
         </div>

        <!-- Text Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Text.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">TEXT</div>
                <div class="difficulty-container">
                    <span>Difficulty:</span>
                    <div class="difficulty-bar" #difficultyBar>
                      <div class="fill-hard"></div>
                    </div>
                    <span>Hard</span>
                </div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button (click)="startTextQuiz()"
                            (touchstart)="button_pressed($event)"
                            (touchend)="button_released($event)">Start</button>
                </div>
            </div>
         </div>
     </div>

    <!-- Thumbnail -->
     <div class="thumbnail" #thumbnail>
        <!-- Image Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Images.jpg"/>
            <div class="content">
                <div class="title"> Image Quiz </div>
                <div class="des"></div>
            </div>
        </div>

        <!-- Video Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Videos.jpg"/>
            <div class="content">
                <div class="title"> Video Quiz </div>
                <div class="des"></div>
            </div>
        </div>

        <!-- Music Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Music.jpg"/>
            <div class="content">
                <div class="title"> Music Quiz </div>
                <div class="des"></div>
            </div>
        </div>

        <!-- Text Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Text.jpg"/>
            <div class="content">
                <div class="title"> Text Quiz </div>
                <div class="des"></div>
            </div>
        </div>
     </div>

    <!-- Arrows -->
     <div class="arrows">
        <button id="prev" #prevButton><</button>
        <button id="next" #nextButton>></button>
     </div>

    <!-- Time -->
     <div class="time" #time></div>
</div>