@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins;
    font-size: 12px;
}
a{
    text-decoration: none;
}

/* Prevent scrollbars */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

/* header */
header{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1vw;
    padding-top: 5px;
    position: relative;
    z-index: 100;
    backdrop-filter: blur(1px);
}

.logo{
    width: auto;
    height: 50px;
    filter: grayscale(100%);
    filter: brightness(200);
}

.quit-button {
    background: none;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
  }

/* carousel */
.carousel{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.carousel .category .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .category .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .category .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .category .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .category .item .title,
.carousel .category .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .category .item .topic{
    color: #f1683a;
}

.difficulty-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 0.8em;
}

/* Difficulty bar container */
.difficulty-bar {
    width: 150px;
    height: 12px;
    background: lightgray;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

/* Hard Difficulty */
.fill-hard {
    height: 100%;
    width: 0%;
    background: rgb(255, 60, 0);
    transition: width 0.3s ease-in-out;
    animation-delay: 1.6s!important;
    animation: loadDifficultyHard 2s linear 1 forwards;
}
@keyframes loadDifficultyHard {
    from{
        width: 0%;
    }
    to{
        width: 90%;
    }
}

/* Medium Difficulty */
.fill-med {
    height: 100%;
    width: 0%;
    background: rgb(255, 120, 0);
    transition: width 0.3s ease-in-out;
    animation-delay: 1.6s!important;
    animation: loadDifficultyMed 2s linear 1 forwards;
}

@keyframes loadDifficultyMed {
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}

/* Easy Difficulty */
.fill-easy {
    height: 100%;
    width: 0%;
    background: rgb(255, 191, 0);
    transition: width 0.3s ease-in-out;
    animation-delay: 1.6s!important;
    animation: loadDifficultyeasy 2s linear 1 forwards;
}

@keyframes loadDifficultyeasy {
    from{
        width: 0%;
    }
    to{
        width: 30%;
    }
}

.carousel .category .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .category .item .buttons button{
    border: solid 1px rgba(245, 245, 245, 0.285);
    background-color: rgba(255, 255, 255, 0.047);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2rem;
    color: #eee;
    transition: transform 0.1s ease-in-out;
}
.carousel .category .item .buttons button:active{
    background-color: #ffffff;
    color: #0f0000;
    transform: scale(0.8);
}

.carousel .category .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .category .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .category .item:nth-child(1) .content .author,
.carousel .category .item:nth-child(1) .content .title,
.carousel .category .item:nth-child(1) .content .topic,
.carousel .category .item:nth-child(1) .content .des,
.carousel .category .item:nth-child(1) .content .difficulty-container,
.carousel .category .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .category .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .category .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .category .item:nth-child(1) .content .difficulty-container{
    animation-delay: 1.6s!important;
}
.carousel .category .item:nth-child(1) .content .des{
    animation-delay: 1.8s!important;
}
.carousel .category .item:nth-child(1) .content .buttons{
    animation-delay: 2s!important;
}
/* create animation when next click */
.carousel.next .category .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .category .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .category .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .category .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .category .item:nth-child(2) .content .author,
.carousel.prev .category .item:nth-child(2) .content .title,
.carousel.prev .category .item:nth-child(2) .content .topic,
.carousel.prev .category .item:nth-child(2) .content .difficulty-container,
.carousel.prev .category .item:nth-child(2) .content .des,
.carousel.prev .category .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/* Adjusting for Mobile and Tabs */ 

@media screen and (max-width: 678px) {
    .carousel .category .item .content{
        padding-right: 0;
    }
    .carousel .category .item .content .title{
        font-size: 30px;
    }
}

@media (max-width: 1366px) {
    .carousel .thumbnail {
        bottom: 100px; /* Adjust this value to move it up */
    }

    .arrows {
        top: 75%;
        gap: 25px;
        right: 55%;
    }

    .arrows button {
        width: 55px;
        height: 55px;
    }

    .carousel.prev .category .item:nth-child(2) img{
        animation: outFrameTab 0.5s linear 1 forwards;
    }

    @keyframes outFrameTab{
        to{
            width: 150px;
            height: 220px;
            bottom: 100px;
            left: 50%;
            border-radius: 20px;
        }
    }
}