<!-- Carousel -->
<div class="carousel" #carousel>
    <!-- Categories -->
     <div class="category" #slider>
        <!-- Image Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Images.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">IMAGES</div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button>Start</button>
                </div>
            </div>
         </div>

        <!-- Video Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Videos.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">VIDEOS</div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button>Start</button>
                </div>
            </div>
         </div>

        <!-- Music Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Music.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">MUSIC</div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button>Start</button>
                </div>
            </div>
         </div>

        <!-- Text Category -->
         <div class="item">
            <img src="assets/Menu/Menu_Text.jpg"/>
            <div class="content">
                <div class="title">AI QUIZ</div>
                <div class="topic">TEXT</div>
                <div class="des">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </div>
                <div class="buttons">
                    <button>Start</button>
                </div>
            </div>
         </div>
     </div>

    <!-- Thumbnail -->
     <div class="thumbnail" #thumbnail>
        <!-- Image Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Images.jpg"/>
            <div class="content">
                <div class="title"> Image Slider </div>
                <div class="des">Description</div>
            </div>
        </div>

        <!-- Video Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Videos.jpg"/>
            <div class="content">
                <div class="title"> Video Slider </div>
                <div class="des">Description</div>
            </div>
        </div>

        <!-- Music Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Music.jpg"/>
            <div class="content">
                <div class="title"> Music Slider </div>
                <div class="des">Description</div>
            </div>
        </div>

        <!-- Text Thumbnail -->
        <div class="item">
            <img src="assets/Menu/Menu_Text.jpg"/>
            <div class="content">
                <div class="title"> Text Slider </div>
                <div class="des">Description</div>
            </div>
        </div>
     </div>

    <!-- Arrows -->
     <div class="arrows">
        <button id="prev" #prevButton><</button>
        <button id="next" #nextButton>></button>
     </div>

    <!-- Time -->
     <div class="time" #time></div>
</div>