<div class="container">
    <div *ngIf="!quizOver">
        <div class="header">
            <button (click)="gotoMenu()">Main Menu</button>
            <h2>Is this Video AI-generated?</h2>
            <button (click)="quit()">Quit</button>
        </div>

        <div class="timer">
            <div class="progress" [style.width.%]="timer"></div>
          </div>

        <!-- Background Image -->
        <div class="background"></div>
  
    
        <div class="video-grid">
            <video *ngIf="currentVideo" width="600" height="400"  [src]="currentVideo.path" autoplay>
                Your browser does not support the video tag.
            </video>
        </div>
        
        
        <div class="button-grid">
            <button class="button-real" 
                    (click)="checkAnswer(false)"
                    (touchstart)="button_pressed($event)"
                    (touchend)="button_released($event)">Real</button>
            <button class="button-ai" 
                    (click)="checkAnswer(true)"
                    (touchstart)="button_pressed($event)"
                    (touchend)="button_released($event)">AI</button>
        </div>
    </div>
    
    <!-- Quiz Completed -->
    <div *ngIf="quizOver">
        <div class="header">
            <button (click)="gotoMenu()">Main Menu</button>
            <h2>Is this Video AI-generated?</h2>
            <button (click)="quit()">Quit</button>
        </div>

        <div class="timer">
            <div class="progress" [style.width.%]="100"></div>
            </div>

        <!-- Background Image -->
        <div class="background"></div>

        <div class="quiz-complete">
          <div class="text-box">
            Congratulations!! <br>
            You've made it to the end of the quiz.

            <p>Your score:<br>
                {{this.score}} / {{this.totalquestions}}
            </p>
          </div>
          <button routerLink="/menu" class="back">Back to Menu</button>
        </div> 
    </div>
</div>

