<!-- image-quiz.component.html -->
<div class="container">
  <div class="header">
    <button (click)="gotoMenu()">Main Menu</button>
    <h2>Identify the AI-generated Image</h2>
    <button (click)="quit()">Quit</button>
  </div>

  <div class="timer">
    <div class="progress" [style.width.%]="timer"></div>
  </div>

  <!-- Background Image -->
  <div class="background"></div>
  

  <div class="quiz-container">
    <div class="image-grid">
      <img *ngFor="let img of images"
            [src]="img.path"
            [class.disabled]="disableInput"
            [class.highlight]="img.highlighted"
            alt="Quiz image"
            (click)="checkAnswer(img)"
            (touchstart)="shrinkImage($event)"
            (touchend)="unshrinkImage($event)" />
    </div>
  </div>

  <div *ngIf="quizOver">
    <div class="overlay"></div>
    <div class="quiz-complete">
      <div class="text-box">
        Congratulations!! <br>
        You've made it to the end of the quiz.

        <p>Your score:<br>
          {{this.score}} / {{this.totalquestions}}
        </p>
      </div>
      <button routerLink="/menu" class="back">Back to Menu</button>
    </div> 
  </div>
</div>


